# Node modules
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

